# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific ignores
documents/
tools/
*.pdf

# Model files and datasets that might be large
*.h5
*.hdf5
*.pkl
*.npy